{{#operations}}
namespace {{packageName}}.Requests 
{
  using {{packageName}}.Model; 
{{#operation}}

  /// <summary>
  /// Request model for <see cref="Aspose.Words.Cloud.Sdk.Api.WordsApi.{{nickname}}" /> operation.
  /// </summary>  
  public class {{nickname}}Request{{#vendorExtensions}}{{#x-csharp-implements}} : {{x-csharp-implements}} {{/x-csharp-implements}}  {{/vendorExtensions}}
  {
        /// <summary>
        /// Initializes a new instance of the <see cref="{{nickname}}Request"/> class.
        /// </summary>
        {{#allParams}}
        /// <param name="{{paramName}}">{{description}}</param>
        {{/allParams}}
        public {{nickname}}Request({{#allParams}}{{{dataType}}} {{paramName}}{{^required}} = null{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})             
        {
            {{#allParams}}
            this.{{baseName}} = {{paramName}};
            {{/allParams}}   
        }

        {{#allParams}}                
        /// <summary>
        /// {{^description}}Gets or sets {{baseName}}{{/description}}{{#description}}{{{description}}}{{/description}}
        /// </summary>  
        public {{{dataType}}} {{baseName}} { get; set; }
        {{#hasMore}}

        {{/hasMore}}
        {{/allParams}}
  }
{{/operation}}
}
{{/operations}}